version: '3.8'
services:
 mysql:
 image: mysql:8.0
 container_name: mysql_db
 restart: always
 environment:
 MYSQL_ROOT_PASSWORD: root
 MYSQL_DATABASE: world
 ports:
 - "3306:3306"
 volumes:
 - mysql_data:/var/lib/mysql
 - ./db:/docker-entrypoint-initdb.d
 app:
 build: .
 depends_on:
 - mysql
 environment:
 DB_CONNECTION:
"Server=mysql;Database=world;User=root;Password=root;"
 stdin_open: true
 tty: true
volumes:
 mysql_data:
